# Visual Studio Code
.vscode/

# Visual Studio
.vs/

# Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Other
*.dbmdl
*.mtx
/DCS.User.Data/obj/Debug/net7.0-windows/DCS.User.Data.assets.cache
/DCS.User.Data/obj/Debug/net7.0-windows/DCS.User.Data.csproj.FileListAbsolute.txt
/DCS.User.Service/obj/Debug/net7.0-windows7.0/DCS.User.Service.assets.cache
/DCS.User.Service/obj/Debug/net7.0-windows7.0/DCS.User.Service.csproj.FileListAbsolute.txt
/DCS.User.UI/obj/Debug/net7.0-windows/DCS.User.UI.assets.cache
/DCS.User.UI/obj/Debug/net7.0-windows/DCS.User.UI.csproj.FileListAbsolute.txt
/DCS.User.Data/obj/DCS.User.Data.csproj.nuget.dgspec.json
/DCS.User.Data/obj/project.assets.json
/DCS.User.Service/obj/DCS.User.Service.csproj.nuget.dgspec.json
/DCS.User.Service/obj/project.assets.json
/DCS.User.UI/obj/Debug/net7.0-windows/Views/Group/GroupEditor.g.i.cs
/DCS.User.UI/obj/Debug/net7.0-windows/Views/Group/GroupManagement.g.i.cs
/DCS.User.UI/obj/Debug/net7.0-windows/Views/Organisation/OrganisationEditor.g.i.cs
/DCS.User.UI/obj/Debug/net7.0-windows/Views/Organisation/OrganisationManagement.g.i.cs
/DCS.User.UI/obj/Debug/net7.0-windows/Views/Role/RoleEditor.g.i.cs
/DCS.User.UI/obj/Debug/net7.0-windows/Views/Role/RoleManagement.g.i.cs
/DCS.User.UI/obj/Debug/net7.0-windows/Views/User/ChangeUserPassword.g.i.cs
/DCS.User.UI/obj/Debug/net7.0-windows/Views/User/CreateNewUserDomain.g.i.cs
/DCS.User.UI/obj/Debug/net7.0-windows/Views/User/RegistrateUser.g.i.cs
/DCS.User.UI/obj/Debug/net7.0-windows/Views/User/UserEditor.g.i.cs
/DCS.User.UI/obj/Debug/net7.0-windows/Views/User/UserLogin.g.i.cs
/DCS.User.UI/obj/Debug/net7.0-windows/Views/User/UserManagement.g.i.cs
/DCS.User.UI/obj/Debug/net7.0-windows/DCS.User.UI.designer.deps.json
/DCS.User.UI/obj/Debug/net7.0-windows/DCS.User.UI_MarkupCompile.i.cache
/DCS.User.UI/obj/DCS.User.UI.csproj.nuget.dgspec.json
/DCS.User.UI/obj/project.assets.json
*.tmp
