<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="globalPackagesFolder" value="%USERPROFILE%\Documents\DCS\Nuget" />
	</config>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="DCS.Local" value="%USERPROFILE%\Documents\DCS\Nuget" />
		<add key="Telerik" value="https://nuget.telerik.com/v3/index.json" />
		<add key="Verheyden-Tech" value="https://nuget.pkg.github.com/Verheyden-Tech/index.json" />
	</packageSources>
</configuration>